/*
#temporary{
    color: red;
    text-align: center;
    
}
.img-container {
    text-align: center;
  }*/
.container{
    display: flex;
    background-color: #263040;
    flex-direction: row;

  
    margin: solid 2px black;
    height: 28vh;


.leftcontainer{
    background-color: #263040;
    flex-grow: 2;
    margin:20px bold white;
    display: flex;
    
    height: 25vh;
   
    flex-direction: column;

    .Akhilesh{
        padding-top: 30px;
        padding-left: 30px;
        #Akhilesh{
            padding-top: 30px;
            
            color: white;
            font-size: 32px;
            font-family: sans-serif;
    }
}
.matter{
    background-color:#263040;

    
    margin-left: 20px;

    .About{
        
        padding-left: 10px;
            
            color: white;
            font-size: 18px;
            font-family: sans-serif;

    }  


}
   
}
.rightcontainer{
    background-color: #263040;
    margin:20px bold white;
    padding: 20px;

    
    img {
        border-radius: 50%;
        float:right;
        
      }



}
}



.contcontainer{
    background-color: black;
    height: 23vh;
    display: flex;
    flex-direction: row;
    
    img {
        border-radius: 50%;
        float:right;
        
      }

    .left{
        display: flex;
        
        flex-direction: column;
        width : 50%;
        .email{
            padding-top: 20px;
            padding-left: 20px;
            order:1;
            display: flex;
            flex: left;
            #email{
                color: white;
                padding-left: 10px;
                align-items: center;
            }
        }
        .location{
            padding-top: 10px;
            padding-bottom: 10px;
            padding-left: 20px;
            order:2;
            display: flex;
            flex:left;
            p{
                padding-left: 10px;
                color:white;
            }
        }

    }

    .right{
        display :flex;
        flex-direction: column;
        .phone{
            padding-top: 20px;
            padding-left: 20px;
            order:1;
            display: flex;
            flex: left;

            #number{
                color: white;
                padding-left: 10px;
                align-items: center;
            

            }

        }

        .linkedin{

            padding-top: 10px;
            padding-left: 20px;
            padding-bottom: 10px;
            order:2;
            display: flex;
            flex: left;

            a{
                padding-top: 20px;
                color: white;
                padding-left: 20px;
                align-items: center;
                
            
            }

        }
    }
}


.main{
    display: flex;
    flex-direction: row;
   
    
    .main-left{
        display: flex;
        flex-direction: column;
        margin:10px;
        #Heading{
            color: rgb(10, 90, 90);
            font-weight: bold;
            flex-wrap: wrap;
            text-decoration: underline;
            justify-content:space-between;
            height: 5px;
        }

        .Sub-Head{
            color: black;
            font-weight: bold;
            font-style: normal;
            font-size: 20px;
            flex-wrap: wrap;
            justify-content:space-between;
            height: 5px;
        }
        .details{
            color: black;
            font-weight: bold;
            font-style: normal;
            font-size: 20px;
            flex-wrap: wrap;
            justify-content:space-between;
            height: 5px;
        }

        
    }
}